<h1> 喜 Chopstix Chinese Restaurant 筷 </h1>
<h2> Fully Licensed - Dine In or Take Away </h2>
<!--<script>location.reload(true)</script>-->
<body onload="Slider();">
    <div class ="slider">
      <img id="1" border="0" alt="Classy Environment" <%= image_tag "pic1.jpg"%>
      <img id="2" border="0" alt="Tasty Dishes" <%= image_tag "pic2.jpg"%>
      <img id="3" border="0" alt="Freshly Prepared" <%= image_tag "pic3.jpg"%>
    </div>
    <div class="shadow"></div>
</body>

<div class = "intro">

</div>
